


/* Estilos header en todas la paginas */
.header-wrapper {
background-color: #F5B7B1;    
}

.background-nav {
    background-color: #F5B7B1;
}

.navbar-brand {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: x-large; 
}

.nav-link {
    color: white ;
    font-family: "Roboto", sans-serif;
    font-size: x-large;
}

/* Estilos Index*/


.filtros .h2 .h3 {
    font-family: "Roboto", sans-serif;
}

/*Estilps Sucursales*/


.iframe-googlemaps{
width: 100%;
height: 450px;
}

/*Estilos Quienes somos*/


.parrafo-quienessomos {
    font-size: x-large;
    margin: 10%;
}
.foto-quienes {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.btn {
    background-color: #F5B7B1;
    list-style: none;
    color: white;
    display: block;
}
