$color-primario: #F5B7B1;
$color-secundario: white;
$color-terciario: whitesmoke;
$color-nav: gray;
$ff-Roboto: "Roboto", sans-serif;


@mixin mq-tablet {
    @media (min-width:768px) {
        @content
} 
}

@mixin mq-desktop {
@media (min-width:1650px) {
    @content
    
}
}


