
.btn {
    background-color: $color-primario;
    list-style: none;
    color: $color-secundario;
    display: block;
}
.btn2 {
    background-color: $color-primario;
    list-style: none;
    color: $color-secundario;
    display:inline-block
}
