footer{
    transition-duration: 2s;
    background-color: $color-primario;
}

.logo-rotador:hover{
    transition-duration: 1s;
    scale: 1.2;
    rotate: 360deg;
    }

.bi:hover{
    transition-duration: 1s;
    scale: 2.5;
    rotate: 360deg;
}