header{
    .header-wrapper {
        background-color:$color-primario;
    }
        nav {
                background: linear-gradient(to bottom,$color-primario,$color-terciario);
                }
}
     .nav-link{
    color: $color-nav;
    font-family: $ff-Roboto;
    font-size: medium;
    @include mq-tablet {
        font-size: large;
    }
}
        .navbar-brand{
                    color: $color-nav ;
                    font-family: $ff-Roboto;
                    font-size: medium; 

                    @include mq-tablet {
                    font-size:large;
                }
}

            
